@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'ultine norm regular';
    src: url('../fonts/ultinenormregular-webfont.eot');
    src: url('../fonts/ultinenormregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ultinenormregular-webfont.woff2') format('woff2'),
         url('../fonts/ultinenormregular-webfont.woff') format('woff'),
         url('../fonts/ultinenormregular-webfont.ttf') format('truetype'),
         url('../fonts/ultinenormregular-webfont.svg#ultine norm regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,td,th {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}
html {
	height: 100%;
	width: 100%;
	background-image: url(../images/furyone-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#header {
}
#name {
	font-family: "Ultine Norm Regular";
	font-style: normal;
	color: #e3d8c9;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 72px;
	width: auto;
	height: auto;
	text-align: center;
	margin-top: 15%;
}
#footer {
}